BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 377d6794b428

ALTER TABLE qc_system DROP CONSTRAINT uq_project_task_id;

ALTER TABLE qc_system ADD CONSTRAINT uq_project_package_task_id UNIQUE (project_name, package_name, task_id);

ALTER TABLE users DROP CONSTRAINT users_username_key;

DROP INDEX ix_users_username;

CREATE UNIQUE INDEX ix_users_username ON users (username);

INSERT INTO alembic_version (version_num) VALUES ('377d6794b428') RETURNING alembic_version.version_num;

-- Running upgrade 377d6794b428 -> db2a3e1c4ba9

ALTER TABLE qc_system DROP CONSTRAINT uq_project_task_id;

ALTER TABLE qc_system ADD CONSTRAINT uq_project_package_task_id UNIQUE (project_name, package_name, task_id);

UPDATE alembic_version SET version_num='db2a3e1c4ba9' WHERE alembic_version.version_num = '377d6794b428';

COMMIT;

